#app {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.input-form{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 60px;
  gap: 30%;
}

.input{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  margin-left: 30px;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.input .submit{
  margin-left: auto;
}

.input .submit button:hover{
  background-color: #43934B;
  transition: 0.3s ease-in;
}

.card {
  display: flex;
  flex-direction: column;

}



.product-card-container{
  margin-left: 20px;
}

.product-grid-metrics{
  display: grid;
  grid-template-columns: 100px 540px 230px 200px 200px;
}

#edit:hover{
  background-color: firebrick;
}
.product-card{
  display: grid;
  grid-template-columns: 200px 400px 250px 160px 250px 100px 130px;
  column-gap: 5px;
  row-gap: 10px;
  width: 1608px;  
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 27px;
  
}

.edit-card{
  display: grid;
  grid-template-columns: 200px 200px 200px 100px 100px;
  column-gap: 10px;
  width: 1608px;  
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 27px;
}

.edit-card-input{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 150%;
}

.button-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 100px;
}

#confirm-change:hover{
  background-color: #43934B;
  transition: 0.3s ease-in;
}

#cancel-change:hover{
  background-color: red;
  transition: 0.3s ease-in;
}

#upload-new-image:hover{
  background-color: rgb(25, 166, 182);
  transition: 0.3s ease-in;
}


.image-input{
  width: 100px;
  visibility: hidden;
}


.price{
  justify-self: start;
  margin-left: 130px;
}

.product-name-and-image{
  display: flex;
  flex-direction: row;
  max-width: 170px;
  white-space: nowrap;
  gap: 10px;
  margin-left: 10px;
}



.product-card button{
  justify-self: end;
}

.product-card button:hover{
  background-color: red;
  transition: 0.1s ease-in;
}


img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.nav-bar{
  align-self: flex-end;
  display: flex;
  gap: 10px;
}